extends layout

block title
  title Conversation

block content
  #header
    ul
      li
        a(href="javascript:void(0);") C
  #center
    h1 Conversation
    p Now you can start building the future, Sir