doctype 5
html
  head
    block title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/fonts.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/site.js')
  body
    block content